<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/media/60aniv.ico">
    <title>Soporte</title>
</head>

<body>
    <nav class="black white-text">
        <div class="nav-wrapper">
            <div class="brand-logo left">
                Hola
                <%=nombreUsuario%>
            </div>
            <ul class="nav-mobile right">
                <li>
                    <a href="." class="btn-small red darken-4 waves-effect waves-red hide-on-med-and-up">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                    <a href="." class="btn-small red darken-4 waves-effect waves-red hide-on-small-and-down">
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        <form method="post" action="encontrarCliente">
            <p class="flow-text">Ingresa el correo del cliente del cual quieres encontrar información:</p>
            <div class="row">

                <div class="input-field col s9 m5 l4">
                    <input id="emailSoporte" type="email" name="mail" class="validate" placeholder="Ingresa correo electrónico" onkeyup="validaSoporte()">
                    <label for="mail">Correo electrónico</label>
                </div>

                <div class="input-field col s3 m2">
                    <button type="submit" class="btn waves-effect waves-green green darken-2" id="submit" disabled>
                        <i class="material-icons center">search</i>
                    </button>
                </div>
            </div>
        </form>

        <% if (error == 404) { %>
            <h3 class="red-text text-darken-3">
                No se encontró información.
            </h3>
            <% } else if (error == 500) {%>
                <h3 class="red-text text-darken-3">
                    Ocurrió un error. Intenta de nuevo.
                </h3>
                <% }%>

                    <% if (success) {%>
                        <table class="responsive-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Ubicación</th>
                                    <th>Código Postal</th>
                                    <th>Celular</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>
                                                <%= cliente.nomCliente + ' ' + cliente.apellidoPaterno + ' ' + cliente.apellidoMaterno %>
                                            </span>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>
                                                <%= cliente.nomCiudad + ', ' + cliente.nomEstado %>
                                            </span>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>
                                                <%= cliente.codigoPostal %>
                                            </span>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input type="checkbox" class="filled-in" />
                                            <span>
                                                <%= cliente.numCelular %>
                                            </span>
                                        </label>
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                        <!--
                        <p class="flow-text">
                            Contraseña:
                            <span id="displayPassword" style="display:none">
                                <%= cliente.password %> 
                            </span>
                        </p>
                        -->

                        <form method="post" action="restablecerPass" id="restorePass" style="display:none">
                            <div class="row">

                                <div class="input-field col s9 m5 l4">
                                    <input name="emailReset" class="validate" value="<%=idUsuario %>" readonly>
                                </div>

                                <div class="input-field col s3 m2 ">
                                    <button type="submit" class="btn waves-effect waves-red red darken-4 " id="submit">
                                        <i class="material-icons center">settings_backup_restore</i>
                                    </button>
                                </div>
                            </div>
                        </form>

                        <p>
                            <a href="soporte">
                                <i class="material-icons left">chevron_left</i> Regresar
                            </a>
                        </p>

                        <% }%>

    </main>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a7b8c5c4b401e45400cc43c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>