<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link rel="shortcut icon" type="image/png" href="/media/60aniv.ico">
    <title>Total Boletos</title>
</head>

<body>
    <nav class="black white-text">
        <div class="nav-wrapper">
            <div class="brand-logo left">
                Total Boletos
            </div>
            <ul class="nav-mobile right">
                <li>
                    <a href="cerrarSesion" class="btn-small red darken-4 waves-effect waves-red hide-on-med-and-up">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                    <a href="cerrarSesion" class="btn-small red darken-4 waves-effect waves-red hide-on-small-and-down">
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container center-align">
            <h1>Folios generados:
            </h1>
            <h2 class="green-text text-darken-4">
                <%= contador %>
            </h2>
            <table class="striped responsive-table">
                <thead>
                    <tr>
                        <th>Tienda</th>
                        <th>Boletos</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i = 0; i < totalBoletos.length; i++) { %>
                    <tr>
                        <% if (totalBoletos[i].id_tienda.match(/MZ/i)) { %>

                        <td>
                            <%= totalBoletos[i].nombreSucursal %>
                        </td>
                        <td>
                            <%= totalBoletos[i].boletos %>
                        </td>
                        <td class="center-align">
                            <a href="#detalles<%=i%>" class="waves-effect waves-orange btn orange modal-trigger">Detalles</a>
                        </td>
                        <div id="detalles<%=i%>" class="modal">
                            <div class="modal-content">
                                <% for (var j = 0; j < boletosMZ.length; j++) { %>
                                    <% if (boletosMZ[j].id_tienda == totalBoletos[i].id_tienda) { %>
                                        <div class="section">
                                    <ul>
                                        <li>
                                            <strong>Factura: </strong><%= boletosMZ[j].factura %>
                                        </li>
                                        <li>
                                            <strong>Boletos generados: </strong><%= boletosMZ[j].boletos %>
                                        </li>
                                    </ul>
                                </div>
                                <div class="divider"></div>
                                    <% } %>
                                <% } %>
                            
                            </div>
                            <div class="modal-footer">
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">ACEPTAR</a>
                            </div>
                        </div>
                        <% }  else { %>
                        <td>
                            <%= totalBoletos[i].nombreSucursal %>
                        </td>
                        <td>
                            <%= totalBoletos[i].boletos %>
                        </td>
                    </tr>
                    <% } %>


                    <% } %>
                </tbody>
            </table>
        </div>
    </main>

    <script src="/js/materialize.min.js"></script>

    <script src="/js/boletos.js"></script>

    <script src="/js/modal.js"></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5a7b8c5c4b401e45400cc43c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>