<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/materialize.min.css">
</head>

<body>

    <nav class="black white-text">
        <div class="nav-wrapper">
            <div class="brand-logo left">
                Hola
                <%=nombreUsuario%>
            </div>
            <ul class="nav-mobile right">
                <li>
                    <a href="." class="btn-small red darken-4 waves-effect waves-red hide-on-med-and-up">
                        <i class="material-icons">
                            close
                        </i>
                    </a>
                    <a href="." class="btn-small red darken-4 waves-effect waves-red hide-on-small-and-down">
                        Cerrar sesión
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <main class="container">
        <h1 class="red-text text-darken-4">Registro de factura</h1>
        <% if (!servicio) {%>
            <h4 class="red-text text-darken-4">
                Ocurrió un error. Intenta más tarde.
            </h4>
            <% }%>
                <% if(errors){ %>
                    <ul>
                        <% errors.forEach(function( err){ %>
                            <li>
                                <%= err.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <%}%>

                        <% if (error == 400) { %>
                            <p class="flow-text red-text text-darken-4">
                                Esta factura ya fue utilizada
                            </p>
                            <% } else if (error == 404) { %>
                                <p class="flow-text red-text text-darken-4">
                                    No se encontró factura. Revisa la información e intenta de nuevo.
                                </p>
                                <% } else if (error == 500) { %>
                                    <p class="flow-text red-text text-darken-4">
                                        Error interno del servidor. Vuelve a intentar.
                                    </p>
                                    <% } %>
                                        <form method="post" action="registrarFactura">
                                            <div class="row">
                                                <div class="input-field col s12 m6 l4">

                                                    <select name="tiendaPicked" value="<%=nombreTienda%>" class="browser-default" onchange="validaDatos()">
                                                        <option value="" disabled selected>Selecciona una sucursal</option>
                                                        <% for (var i = 0; i < tiendas.length; i++) { %>
                                                            <option value="<%= tiendas[i].idTienda %>" name="<%= tiendas[i].idTienda %>">
                                                                <%= tiendas[i].nombreTienda %>
                                                            </option>
                                                            <%  }%>
                                                    </select>
                                                </div>
                                                <div class="input-field col s12 m6 l4">
                                                    <label>Factura</label>
                                                    <input type="text" name="factura" value="<%=factura %>" maxlength="10" onkeyup="validaDatos()">
                                                </div>
                                                <div class="input-field col s12 m6 l4">
                                                    <label># de cliente</label>
                                                    <input type="text" name="cliente" value="<%=cliente %>" onkeyup="validaDatos()">
                                                </div>
                                                <div class="input-field col s12 m6 l4">
                                                    <label>Fecha de Compra</label>
                                                    <input type="text" name="fecha" class="datepicker" value="<%=fecha %>" onchange="validaDatos()">
                                                </div>

                                                <div class="input-field col s12 m6 l4">
                                                    <label>Importe</label>
                                                    <input type="text" name="importe" value="<%=importe %>" onkeyup="validaDatos()">
                                                </div>
                                                <div class="input-field col s12 m6 l4 g-recaptcha" data-callback="capcha_filled" data-expired-callback="capcha_expired" data-sitekey="6LeRx2cUAAAAAGSHuIg6IjtfFR2zGnHrsnkYhe7k"></div>
                                            </div>
                                            <div class="input-field center-align">
                                                <button class="btn waves-effect waves-green green darken-2" type="submit" name="action" id="submit" disabled>Enviar</button>
                                            </div>
                                        </form>
                                        <a href="mytickets">
                                            Regresar
                                        </a>
    </main>

    <script src="/js/materialize.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/script.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</body>

</html>